<div class="question-container">
    <p>poll works!</p>

   

    <h2>{{ game?.name }}</h2>
    <img *ngIf="game?.cover" [src]="game.cover" alt="cover" />

    <h3>Artworks</h3>
    <div class="image-grid">
        @for (art of game?.artworks; track art.id) {
        <img [src]="art.url" (click)="openImage(art.url)" [alt]="game.name + ' artwork'" />
        }
    </div>
    
    @if (selectedImage) {
    <div class="image-modal" (click)="closeImage()">
        <img [src]="selectedImage" class="full-image" />
        <span class="close-btn">×</span>
    </div>
    }

    
    <h3>Screenshots</h3>
    <div class="image-grid">
        @for (shot of game?.screenshots; track shot.id) {
        <img [src]="shot.url" (click)="openImage(shot.url)" [alt]="game.name + ' screenshot'" />
        }
    </div>



    @for(poll of polls; track poll?._id){
    <li>{{poll?.name}} {{poll?._id}} {{poll.date}}</li>
    }


    <div class="question">
        <img src="giphy.gif" alt="Funny gif">
        <h2>{{question}}</h2>
    </div>


    <div class="search-box">
    <input
        #inputBox
        type="text"
        [value]="searchQuery"
        (input)="onSearchChange(inputBox.value)"
        placeholder="Search for a game..."
        class="search-input"
    />


    @if (searchResults.length > 0) {
        <ul class="search-results">
        @for (game of searchResults; track game.id) {
            <li (click)="selectGameFromSearch(game)">
            {{ game.name }}
            </li>
        }
        </ul>
    }

    @if (selectedGameFromSearch) {
        <div class="game-preview">
        <p>You selected: {{ selectedGameFromSearch.name }}</p>
        @if (selectedGameFromSearch.image) {
            <img [src]="selectedGameFromSearch.image" [alt]="selectedGameFromSearch.name" />
        }
        </div>
    }
    </div>



    
    @if(!answered){
    <div class="poll-buttons">
        <button (click)="selectAnswer(answer1)">{{answer1}}</button>
        <button (click)="selectAnswer(answer2)">{{answer2}}</button>
        <button (click)="selectAnswer(answer3)">{{answer3}}</button>
        <button (click)="selectAnswer(answer4)">{{answer4}}</button>
    </div>
    }

    @if(answered){
    <h2>You answered! {{selectedAnswer}}</h2>
    }
    @if(correctAnswer === selectedAnswer){
        <h2>Correct !</h2>
    }
    @else if(answered){
        <h2>Wrong !</h2>
        <h2>The correct answer was: {{correctAnswer}} !</h2>
    }
</div>