<div class="question-container">

    @for(poll of polls; track poll?._id){
    <li>{{poll?.name}} {{poll?._id}} {{poll.date}}</li>
    }


    <div class="question">
        @if (firstScreenshot) {
            <img [src]="firstScreenshot.url"
                (click)="openImage(firstScreenshot.url)"
                [alt]="poll.name + ' screenshot'" />
        }
        @if (secondScreenshot) {
            <img [src]="secondScreenshot.url"
                (click)="openImage(secondScreenshot.url)"
                [alt]="game.name + ' screenshot'" />
        }

        <h2>{{poll?.question}}</h2>
        <h2>Number of guesses: {{nbGuesses}}</h2>
        <div *ngIf="guesses.length > 0">
            <p>Your guesses:</p>
            <ul>
                <li *ngFor="let g of guesses">{{ g }}</li>
            </ul>
        </div>

    </div>


    <div class="game-search">
        <div class="search-box">
            <input
                #inputBox
                type="text"
                [value]="searchQuery"
                (input)="onSearchChange(inputBox.value)"
                placeholder="Search for a game..."
                class="search-input"
            />


            @if (searchResults.length > 0) {
                <ul class="search-results">
                @for (game of searchResults; track game.id) {
                    <li (click)="selectGameFromSearch(game)">
                    {{ game.name }}
                    </li>
                }
                </ul>
            }
        </div>
        @if (selectedGameFromSearch) {
            <div class="game-preview">
            <p>You selected: {{ selectedGameFromSearch.name }}</p>
            @if (selectedGameFromSearch.image) {
                <img [src]="selectedGameFromSearch.image" [alt]="selectedGameFromSearch.name" />
            }
            </div>
            @if(!answered){
                <button (click)="confirmSelectedAnswerFromSearch(selectedGameFromSearch)">Final answer ?</button>
            }
        }
    </div>



    
    @if(!answered){
    <div class="poll-buttons">
        <button (click)="selectAnswer(poll?.answer1)">{{poll?.answer1}}</button>
        <button (click)="selectAnswer(poll?.answer2)">{{poll?.answer2}}</button>
        <button (click)="selectAnswer(poll?.answer3)">{{poll?.answer3}}</button>
        <button (click)="selectAnswer(poll?.answer4)">{{poll?.answer4}}</button>
    </div>
    }

    @if(answered){
    <h2>You answered! {{selectedAnswer}}</h2>
    }

    @if(answered && poll?.correctAnswer === selectedAnswer){
        <h2>Correct !</h2>
    }
    @else if(answered){
        <h2>Wrong !</h2>
        <h2>The correct answer was: {{poll?.correctAnswer}} !</h2>
    }

   
    @if(answered){
    <h2>{{ game?.name }}</h2>
    <img *ngIf="game?.cover" [src]="game.cover" alt="cover" />

    <h3>Artworks</h3>
    <div class="image-grid">
        @for (art of game?.artworks; track art.id) {
        <img [src]="art.url" (click)="openImage(art.url)" [alt]="game.name + ' artwork'" />
        }
    </div>
    
    @if (selectedImage) {
    <div class="image-modal" (click)="closeImage()">
        <img [src]="selectedImage" class="full-image" />
        <span class="close-btn">×</span>
    </div>
    }

    
    <h3>Screenshots</h3>
    <div class="image-grid">
        @for (shot of game?.screenshots; track shot.id) {
        <img [src]="shot.url" (click)="openImage(shot.url)" [alt]="game.name + ' screenshot'" />
        }
    </div>
    }


    
</div>