<div class="question-container">

    @if(!isLoading){
    <div class="question">
        <!--<h2>{{poll?.question}}</h2>-->
        @if(currentGuessScreenshot){
        <img [src]="currentGuessScreenshot" (click)="openImage(currentGuessScreenshot!)"
            [alt]="currentGuessScreenshot" />
        <div>
        <div class="screenshot-buttons">
            @for (screenshot of screenshots; track screenshot.url) {
                <button (click)="selectImage(screenshot.url)">{{ $index}}</button>
            }
        </div>
        </div>
        }@else{
        <h3>Loading Images...</h3>
        }

    </div>
    @if (selectedImage) {
    <div class="image-modal" (click)="closeImage()">
        <img [src]="selectedImage" class="full-image" />
        <span class="close-btn">×</span>
    </div>
    }


    <div class="game-search">
        <div class="search-box">
            <input #inputBox type="text" [value]="searchQuery" (input)="onSearchChange(inputBox.value)"
                placeholder="Search for a game..." class="search-input" />


            @if (searchResults.length > 0) {
            <ul class="search-results">
                @for (game of searchResults; track game.id) {
                <li (click)="selectGameFromSearch(game)">
                    {{ game.name }}
                    @if(game.image){
                    <img [src]="game.image" width="15%">
                    }
                </li>
                }
            </ul>

            }
        </div>
        <button (click)="createNewEntry()">Create New Entry</button>
    </div>

    @if (selectedGameFromSearch) {
    <div class="game-preview">
        <p>You selected: {{ selectedGameFromSearch.name }}</p>
        @if (selectedGameFromSearch.image) {
        <img [src]="selectedGameFromSearch.image" [alt]="selectedGameFromSearch.name" />
        }
    </div>
    }

    <div class="gameShowcase">
        <div class="gameCover">
            <h2>{{ game?.name }}</h2>
            <img [src]="game?.cover" (click)="openImage(game?.cover)" [src]="game.cover" alt="cover" />
        </div>
        <div class="image-grids">
            <h3>Artworks</h3>
            <div class="image-grid">
                @for (art of game?.artworks; track art.id) {
                <img [src]="art.url" (click)="openImage(art.url)" [alt]="'artwork'" />
                }
            </div>

            <h3>Screenshots</h3>
            <div class="image-grid">
                @for (shot of game?.screenshots; track shot.id) {
                <img [src]="shot.url" (click)="openImage(shot.url)" [alt]="'screenshot'" />
                }
            </div>
        </div>
    </div>



    }@else{
    <h2>Loading...</h2>
    }
</div>