<div class="question-container">


    @if(isFullyLoaded()){
    <div class="question">
        <!--<h2>{{poll?.question}}</h2>-->
        @if(currentGuessScreenshot){
        <img [src]="currentGuessScreenshot" (click)="openImage(currentGuessScreenshot!)"
            [alt]="currentGuessScreenshot" />
        <div>
        <div class="screenshot-buttons">
            @for (screenshot of IGDBRessource.value()?.screenshots?.slice(0, 5); track screenshot) {
                <button (click)="selectImage(screenshot.url)">{{$index}}</button>
            }
        </div>
        <div class="navButtons">
            @if(previousPoll()?._id){
            <button (click)="goToPreviousPoll()"><<</button>
            }
            @if(nextPoll()?._id){
            <button (click)="goToNextPoll()">>></button>
            }
        </div>
        </div>
        }@else{
        <h3>Loading Images...</h3>
        }

    </div>
    @if (selectedImage) {
    <div class="image-modal" (click)="closeImage()">
        <img [src]="selectedImage" class="full-image" />
        <span class="close-btn">×</span>
    </div>
    }

    <div class="game-search">
        <div class="search-box">
            <input #inputBox type="text" [value]="searchQuery()" (input)="onSearchChange(inputBox.value)"
                placeholder="Search for a game..." class="search-input" />

            @if (isSearchBoxOpen) {
            <ul class="search-results">
                @for (game of gameSearchResource.value(); track game) {
                <li (click)="selectGameFromSearch(game)">
                    {{ game.name }}
                    @if(game.image){
                    <img [src]="game.image" width="15%">
                    }
                </li>
                }
            </ul>

            }
        </div>
    </div>

    @if (selectedGameFromSearch()) {
    <div class="game-preview">
        <p>You selected: {{ selectedGameFromSearch()?.name }}</p>
        @if (selectedGameCoverFromSearch()) {
        <img [src]="selectedGameCoverFromSearch()" [alt]="selectedGameFromSearch()?.name" />
        }
    </div>
    <button (click)="confirmSelectedAnswerFromSearch(selectedGameFromSearch())">Final answer ?</button>
    }@else{

    <!--<div>
        @if(guesses.length > 0){
        <p class="centeredText">Your guesses:</p>
        <ul>
            @for (g of guesses; track g) {
            <li>
                @if (pollRessource.value()?.correctAnswer === g) {
                <p>{{ g }} ✅</p>
                } @else {
                <p>{{ g }} ❌</p>
                }
            </li>
            }
        </ul>
        }
    </div>
-->
    }

    <h2>The correct answer is: {{pollRessource.value()?.correctAnswer}} !</h2>


    <div class="gameShowcase">
        <div class="gameCover">
            <h2>{{ pollRessource.value()?.name }}</h2>
            <img [src]="IGDBRessource.value()?.cover" (click)="openImage(IGDBRessource.value()?.cover)" [src]="IGDBRessource.value()?.cover" alt="cover" />
        </div>
        <div class="image-grids">
            <h3>Artworks</h3>
            <div class="image-grid">
                @for (art of IGDBRessource.value()?.artworks; track art) {
                <img [src]="art.url" (click)="openImage(art.url)" [alt]="'artwork'" />
                }
            </div>

            <h3>Screenshots</h3>
            <div class="image-grid">
                @for (shot of IGDBRessource.value()?.screenshots; track shot) {
                <img [src]="shot.url" (click)="openImage(shot.url)" [alt]="'screenshot'" />
                }
            </div>
        </div>
    </div>



    }@else{
    <h2>Loading...</h2>
    }
</div>